{% extends "index.html" %}

{% block title %}Tambah User Baru{% endblock title %}

{% block content %}
<div class="d-flex justify-content-center vh-100 bg-gray-100">
  <div class="container">
    <h1 class="text-center text-3xl font-semibold text-gray-800 mb-6">Tambah User Baru</h1>

    <!-- Form -->
    <div class="max-w-3xl mx-auto p-6 bg-white shadow-md rounded-lg">        
        <form method="POST" action="{% url 'web:users-form' %}" class="row g-3">
            {% csrf_token %}

            <div class="col-12">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" id="username" class="form-control" required>
            </div>

            <div class="col-12">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" id="email" class="form-control" required>
            </div>

            <div class="col-12">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>

            <select name="role" id="role" class="form-select" required>
                <option selected disabled value="">Pilih Role</option>
                {% for item in roles %}
                    <option value="{{ item.id }}">{{ item.role }}</option>
                {% endfor %}
            </select>

            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
  </div>
</div>
{% endblock content %}
