{% extends "index.html" %}

{% block title %}Courses{% endblock title %}

{% block content %}
  <div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="text-center mb-4">Data Course</h2>
      <div>
        <a href="{% url 'web:courses-form' %}" class="btn btn-primary ms-auto">Tambah</a>
      </div>
    </div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Course</th>
          <th>Mentor</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ item.course }}</td>
          <td>{{ item.mentor }}., {{ item.title }}</td>
          <td class="d-flex">
            <a href="#" class="btn btn-primary me-2">Edit</a>
            <a href="{% url "web:courses-delete" item.id %}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock content %}
